@import "../../../../Styles/common.scss";

.Feed {
  background-color: white;
  border: 1px solid $borderColor;
  border-radius: 3px;
  margin-bottom: 60px;
  width: 100%;

  .uploader {
    @include moveCenter;
    padding: 14px 16px;
    border-bottom: 1px solid $borderColor;

    .headerProfilePic {
      @include moveCenter;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
    .headerUserName {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      width: 550px;
      margin-left: 14px;

      div {
        @include flexColumn;
        font-size: 14px;
        font-weight: 600;

        span {
          font-weight: 400;
          font-size: 12px;
        }
      }
      .moreBtn {
        box-sizing: border-box;
        width: 16px;
        height: 28px;
        @include moveCenter;
        cursor: pointer;
        padding: 0;
      }
    }
  }

  .contents {
    display: flex;

    img {
      width: 100%;
    }
  }

  .contentsBottomContainer {
    @include flexColumn;
    width: 100%;
    font-size: 14px;

    .icons {
      @include moveCenter;
      position: relative;
      padding: 0 16px;
      margin-top: 4px;

      .likeBtn {
        @include moveCenter;
        box-sizing: border-box;

        button {
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          padding: 8px;
          cursor: pointer;

          div {
            width: 24px;
            height: 24px;
          }
        }
      }

      .commentBtn {
        button {
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          padding: 8px;
          cursor: pointer;

          div {
            width: 24px;
            height: 24px;
          }
        }
      }

      .shareBtn {
        @include moveCenter;

        button {
          width: 40px;
          height: 40px;
          padding: 8px;

          div {
            width: 24px;
            height: 24px;
          }
        }
      }

      .saveBtn {
        height: 40px;
        padding-top: 8px;
        margin-left: auto;
        cursor: pointer;
      }
    }

    .likes {
      display: flex;
      font-size: 14px;
      padding: 0 16px;

      div span {
        font-weight: 600;

        .userNameATags {
          color: $textBlack;
          cursor: pointer;
        }
      }

      .othersBtn {
        font-weight: 600;
      }
    }

    .description {
      display: flex;
      font-size: 14px;
      padding: 0 16px;

      .descriptionUserName {
        font-weight: 600;

        .userNameATags {
          color: $textBlack;
          cursor: pointer;
        }
      }

      .descriptionMore {
        border: 0;
        background: none;
        color: $titleTextGray;
        cursor: pointer;
      }
    }

    .comments {
      padding: 0 16px;

      .viewAllComments a {
        color: $titleTextGray;
      }

      .commentList {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .passedTime {
      display: flex;
      border-bottom: 1px solid $borderColor;
      padding: 4px 16px;

      a {
        text-transform: uppercase;
        color: $titleTextGray;
        font-size: 10px;
      }
    }

    .commentInput {
      display: flex;
      height: 55px;
      padding: 0 16px;

      div {
        display: flex;
        align-items: center;
        width: 100%;

        .commentTextArea {
          resize: none;
          width: 100%;
          overflow: visible;
          border: none;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .commentPostBtn {
    @include moveCenter;
    box-sizing: border-box;
    font-weight: 600;
    color: $opacityBlue;
    cursor: default;
  }

  .commentPostBtnActive {
    @include fcc;
    box-sizing: border-box;
    font-weight: 600;
    color: $textBlue;
    cursor: pointer;
  }

  .likeBtnRed {
    animation: pulse 0.3s;
  }

  // .likeBtnBlack {
  //   animation: pulse 0.3s;
  // }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 999px) {
    .MainRight {
      display: none;
    }
  }
}
