.Nav {
  .topNav {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 53px;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: white;
  }

  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    max-width: 975px;
    width: 100%;
    padding: 0 20px;
  }

  .navLogo {
    margin: 0 auto 0 0;
  }

  .navSearch input {
    width: 177px;
    height: 20px;
  }

  .navBtnContainer {
    margin: 0 0 0 auto;
  }

  .navBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 222px;
    height: 22px;
  }

  .navBtn {
    margin-left: 22px;
  }

  .navProfile img {
    width: 22px;
    border-radius: 50%;
  }
}
