.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: row;
  }
}
